

.imageSize {
    width: 150px;
    height: 100px;
}

.tdCell {
    padding: 0;
    vertical-align: middle;
}

.footer {
    text-align: right;
    vertical-align: middle;
    padding-right: 130px;
    padding-top: 32px;
}