<div class="row">
  <div class="col-md-6">
    <form #f="ngForm" (ngSubmit)="save(f.value)">
      <div class="form-group">
        <label for="Title">Title</label>
        <input
          [(ngModel)]="product.title"
          name="title"
          id="Title"
          type="text"
          class="form-control"
          required
          #title="ngModel"
        />
        <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
          Title is Required.
        </div>
      </div>
      <div class="form-group">
        <label for="Price">Price</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">INR</span>
          </div>
          <input
            [(ngModel)]="product.price"
            name="price"
            id="Price"
            type="number"
            class="form-control"
            required
            #price="ngModel"
            [min]="0"
          />
        </div>
        <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
          <div *ngIf="price.errors.required">Price is Required.</div>
          <div *ngIf="price.errors.min">Price Should be 0 or Higher.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="Category">Category</label>
        <select
          #category="ngModel"
          [(ngModel)]="product.category"
          name="category"
          id="Category"
          class="form-control"
          required
        >
          <option value=""></option>
          <option *ngFor="let c of category$ | async" [value]="c.name">
            {{ c.name }}
          </option>
        </select>
        <div
          class="alert alert-danger"
          *ngIf="category.touched && category.invalid"
        >
          Category is Required.
        </div>
      </div>
      <div class="form-group">
        <label for="ImageUrl">Image Url</label>
        <input
          [(ngModel)]="product.imageUrl"
          name="imageUrl"
          id="ImageUrl"
          type="text"
          class="form-control"
          required
          #imageUrl="ngModel"
          url
        />
        <div
          class="alert alert-danger"
          *ngIf="imageUrl.touched && imageUrl.invalid"
        >
          <div *ngIf="imageUrl.errors.required">ImageUrl is Required.</div>
          <div *ngIf="imageUrl.errors.url">Enter Valid Url</div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
      <button type="button" (click)="delete()" class="btn btn-danger ml-3">
        Delete
      </button>
    </form>
  </div>
  <div class="col-md-6">
    <product-card
      [product]="product"
      [show-action]="false"
      [cardwidth]="true"
    ></product-card>
  </div>
</div>
