<h2 class="text-success">Order Details</h2>
<table class="table text-center">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Quantity</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orderDetails$ | async" >
      <td class="align-middle">
        <img
          [src]="order.product.imageUrl"
          alt="order.product.title"
          class="rounded-circle imgSize"
        />
      </td>
      <td class="align-middle">
        {{ order.product.title }}
      </td>
      <td class="align-middle">
        {{ order.quantity }}
      </td>
      <td class="align-middle">
        {{ order.quantity * order.product.price }}
      </td>
    </tr>
  </tbody>
</table>
