<div class="sticky-top">
  <div class="list-group shadow fontSize">
    <a
      routerLink="/"
      class="list-group-item list-group-item-action"
      [class.active]="!activatedCategory"
    >
      All Categories
    </a>
    <a
      routerLink="/"
      class="list-group-item list-group-item-action"
      *ngFor="let category of categories$ | async"
      [queryParams]="{ category: category.name }"
      [class.active]="activatedCategory === category.name"
    >
      {{ category.name }}
    </a>
  </div>
</div>
